# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Archivos generados y binarios
*.ser
*.db
*.sqlite
*.bak
*.tmp
*.swp
*.iml
*.exec
*.lock

# Archivos de configuración sensibles
config.properties
.env
target/
src/main/resources/smtp_proveedores.properties
src/main/resources/recuperacion_email.properties
src/main/resources/gmail_nubefact.properties
src/main/resources/venta_nubefact.properties
src/main/resources/client_secret.json
src/main/resources/backup-path.properties
src/main/resources/application.properties
src/main/resources/alerta-config.properties

# IDE y sistema
*.DS_Store
.idea/
.vscode/
tokens/StoredCredential